Samurai CMS/obj/
Samurai CMS/obj/Debug/
Samurai CMS/obj/Debug/*.txt
Samurai CMS/App_Data/
*.mdf
*.ldf
*.dll
*.pdb
*.Cache
*.resources
*.suo
packages/EntityFramework.6.0.0/Content/App.config.transform
packages/EntityFramework.6.0.0/Content/Web.config.transform
packages/EntityFramework.6.0.0/EntityFramework.6.0.0.nupkg
packages/EntityFramework.6.0.0/lib/net40/EntityFramework.SqlServer.xml
packages/EntityFramework.6.0.0/lib/net40/EntityFramework.xml
packages/EntityFramework.6.0.0/lib/net45/EntityFramework.SqlServer.xml
packages/EntityFramework.6.0.0/lib/net45/EntityFramework.xml
packages/EntityFramework.6.0.0/tools/EntityFramework.psd1
packages/EntityFramework.6.0.0/tools/EntityFramework.psm1
packages/EntityFramework.6.0.0/tools/about_EntityFramework.help.txt
packages/EntityFramework.6.0.0/tools/init.ps1
packages/EntityFramework.6.0.0/tools/install.ps1
packages/EntityFramework.6.0.0/tools/migrate.exe
packages/System.Data.SQLite.1.0.104.0/System.Data.SQLite.1.0.104.0.nupkg
packages/System.Data.SQLite.Core.1.0.104.0/System.Data.SQLite.Core.1.0.104.0.nupkg
packages/System.Data.SQLite.Core.1.0.104.0/build/net20/System.Data.SQLite.Core.targets
packages/System.Data.SQLite.Core.1.0.104.0/build/net40/System.Data.SQLite.Core.targets
packages/System.Data.SQLite.Core.1.0.104.0/build/net45/System.Data.SQLite.Core.targets
packages/System.Data.SQLite.Core.1.0.104.0/build/net451/System.Data.SQLite.Core.targets
packages/System.Data.SQLite.Core.1.0.104.0/build/net46/System.Data.SQLite.Core.targets
packages/System.Data.SQLite.Core.1.0.104.0/lib/net20/System.Data.SQLite.dll.config
packages/System.Data.SQLite.Core.1.0.104.0/lib/net20/System.Data.SQLite.xml
packages/System.Data.SQLite.Core.1.0.104.0/lib/net40/System.Data.SQLite.dll.config
packages/System.Data.SQLite.Core.1.0.104.0/lib/net40/System.Data.SQLite.xml
packages/System.Data.SQLite.Core.1.0.104.0/lib/net45/System.Data.SQLite.dll.config
packages/System.Data.SQLite.Core.1.0.104.0/lib/net45/System.Data.SQLite.xml
packages/System.Data.SQLite.Core.1.0.104.0/lib/net451/System.Data.SQLite.dll.config
packages/System.Data.SQLite.Core.1.0.104.0/lib/net451/System.Data.SQLite.xml
packages/System.Data.SQLite.Core.1.0.104.0/lib/net46/System.Data.SQLite.dll.config
packages/System.Data.SQLite.Core.1.0.104.0/lib/net46/System.Data.SQLite.xml
packages/System.Data.SQLite.EF6.1.0.105.0/System.Data.SQLite.EF6.1.0.105.0.nupkg
packages/System.Data.SQLite.EF6.1.0.105.0/content/net40/app.config.install.xdt
packages/System.Data.SQLite.EF6.1.0.105.0/content/net40/app.config.transform
packages/System.Data.SQLite.EF6.1.0.105.0/content/net40/web.config.install.xdt
packages/System.Data.SQLite.EF6.1.0.105.0/content/net40/web.config.transform
packages/System.Data.SQLite.EF6.1.0.105.0/content/net45/app.config.install.xdt
packages/System.Data.SQLite.EF6.1.0.105.0/content/net45/app.config.transform
packages/System.Data.SQLite.EF6.1.0.105.0/content/net45/web.config.install.xdt
packages/System.Data.SQLite.EF6.1.0.105.0/content/net45/web.config.transform
packages/System.Data.SQLite.EF6.1.0.105.0/content/net451/app.config.install.xdt
packages/System.Data.SQLite.EF6.1.0.105.0/content/net451/app.config.transform
packages/System.Data.SQLite.EF6.1.0.105.0/content/net451/web.config.install.xdt
packages/System.Data.SQLite.EF6.1.0.105.0/content/net451/web.config.transform
packages/System.Data.SQLite.EF6.1.0.105.0/content/net46/app.config.install.xdt
packages/System.Data.SQLite.EF6.1.0.105.0/content/net46/app.config.transform
packages/System.Data.SQLite.EF6.1.0.105.0/content/net46/web.config.install.xdt
packages/System.Data.SQLite.EF6.1.0.105.0/content/net46/web.config.transform
packages/System.Data.SQLite.EF6.1.0.105.0/tools/net40/install.ps1
packages/System.Data.SQLite.EF6.1.0.105.0/tools/net45/install.ps1
packages/System.Data.SQLite.EF6.1.0.105.0/tools/net451/install.ps1
packages/System.Data.SQLite.EF6.1.0.105.0/tools/net46/install.ps1
packages/System.Data.SQLite.Linq.1.0.105.0/System.Data.SQLite.Linq.1.0.105.0.nupkg
packages/System.Data.SQLite.Linq.1.0.105.0/content/net20/app.config.transform
packages/System.Data.SQLite.Linq.1.0.105.0/content/net20/web.config.transform
packages/System.Data.SQLite.Linq.1.0.105.0/content/net40/app.config.transform
packages/System.Data.SQLite.Linq.1.0.105.0/content/net40/web.config.transform
packages/System.Data.SQLite.Linq.1.0.105.0/content/net45/app.config.transform
packages/System.Data.SQLite.Linq.1.0.105.0/content/net45/web.config.transform
packages/System.Data.SQLite.Linq.1.0.105.0/content/net451/app.config.transform
packages/System.Data.SQLite.Linq.1.0.105.0/content/net451/web.config.transform
packages/System.Data.SQLite.Linq.1.0.105.0/content/net46/app.config.transform
packages/System.Data.SQLite.Linq.1.0.105.0/content/net46/web.config.transform
packages/System.Data.SQLite.x86.1.0.105.0/System.Data.SQLite.x86.1.0.105.0.nupkg
packages/System.Data.SQLite.x86.1.0.105.0/lib/net20/System.Data.SQLite.xml
packages/System.Data.SQLite.x86.1.0.105.0/lib/net40/System.Data.SQLite.xml
packages/System.Data.SQLite.x86.1.0.105.0/lib/net45/System.Data.SQLite.xml
packages/System.Data.SQLite.x86.1.0.105.0/lib/net451/System.Data.SQLite.xml
packages/System.Data.SQLite.x86.1.0.105.0/lib/net46/System.Data.SQLite.xml
